@import "reset";
@import "base-standard";
//app背景色
$app-bg-color: rgb(238, 238, 238);
html, body {
  min-height: 100%;
}
html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  background: rgb(238, 238, 238);
}

.text-white {
  color:$color-white !important;
}
