//app背景色
$app-bg-color: rgb(238, 238, 238);

//主题色
$app-color: #ff6600;
//车找人 背景色
$car-to-people-color: #1aad19;
//人找车 背景色
$people-to-car-color: #e64340;

//基础文字色
$basic-font-color: #858383;

//过色期文字
$past-font-color: #dedede;

//导航背景色
$tab-bar-bg-color: #f7f7f7;

//导航栏激活与未激活
//未激活
$tab-color: #858383;
//激活
$tab-active-color: #ff6600;

//灰色
$color-light-grey-sss: #fcfcfc;
//白色
$color-white: #FFF;

//tab-bar-height
$tab-bar-height: 52px;

//省略号
@mixin text-overflow($row: 1){
  line-clamp: $row;
  overflow:hidden; /*内容超出宽度时隐藏超出部分的内容 */
  text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
  white-space:nowrap; /*不换行 */
}

//flex 垂直水平居中
@mixin justify-items{
  display:flex;
  justify-content: center;
  align-items: center;
}
