@import "reset";
@import "base-standard";
html, body {
  min-height: 100%;
}
html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  background: rgb(238, 238, 238);
}
// page页样式
.page-style{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 100;
  padding-top:46px;
  background:$app-bg-color;
}
// 过场动画
.page-enter-active, .page-leave-active {
  transition: all .3s
}
.page-enter, .page-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  transform: translate3d(100%, 0, 0)
}

.text-white {
  color:$color-white !important;
}

.car-for-people{
  background-color:$car-to-people-color;
}
.people-for-car{
  background-color:$people-to-car-color;
}
// 重置header样式
.vux-header {
  z-index: 99;
  position:fixed !important;
  top:0;
  right:0;
  left:0;
  background: $app-color !important;
   .vux-header-left a,  .vux-header-left button,  .vux-header-right a,  .vux-header-right button{
     color: $color-white !important;
   }
   .vux-header-left .left-arrow:before{
      border-color:$color-white !important;
  }
}

.vux-divider{
  font-size: 12px !important;
}


